*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
label{
  display: block;
  margin: 4px 0;
}
input{
  padding: 4px;
  width: 200px;
}
input[type="checkbox"], input[type="radio"]{
  display: inline-block;
  margin: 4px 0;
  width: 10px;
}
select{
  padding: 4px 10px;
  width: 200px;
  font-size: 16px;
}
button{
  padding: 4px 10px;
  border: none;
  background-color: gray;
  color: whitesmoke;
  font-weight: bold;
  margin: 4px 0;
}