*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
input, label{
  display: block;
  width: 200px;
  padding: 4px;
}
input[type="radio"]{
  display: inline-block;
  width: 20px;
}