*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
table, tr, td, th, thead, tbody, caption{
  border: 2px solid #333;
  padding: 4px;
}