*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
label{
  width: 100px;
  display: inline-block;
}
table, thead, caption, th, td{
  border: 1px solid #000;
}
tfoot{
  text-align: center ;
}
thead:first-child{
  background-color: #fff;
}
tr:nth-child(even){
  background-color: #fff;
}
a[href$=".com"]{
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  display: inline-block;
}